{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
</head>
<body>
    <div class="nav-bar">
        <div class="logo">
            <a href="{% url 'home' %}"><img width="40px" src="{% static 'img/main_img/lsdkfuh.png' %}" alt=""></a>
        </div>
        <div class="nav-list">
            <a href="{% url 'about' %}">О нас</a>
            <a href="{% url 'clients' %}">Клиенты и отзывы</a>
            <a href="{% url 'contacts' %}">Контакты</a>
            <a href="{% url 'news' %}">Новости</a>
            <a href="{% url 'zayavka' %}">Оставить заявку</a>
        </div>
        <div class="autor">
            <a href="{% url 'admin:index' %}"><img width="75%" src="{% static 'img/main_img/user 1.png' %}" alt=""></a>
        </div>
    </div>
    <div class="info">
        <div class="header">
            <h1>Финансовый аудит как способ оценки состояния и перспектив развития компании в 2024-2025</h1>
            <div class="date">
                <div class="calendar">
                    <img src="{% static 'img/main_img/free-icon-calendar-days-10178999 1.png' %}" alt="">
                    <p>20 октября 2024</p>
                </div>
            </div>
        </div>
        <div class="citat">
            <div class="kov">
                <p>"</p>
            </div>
            <div class="citata">
                <p>Профессионально проведенная аудиторская проверка финансовой отчетности зачастую выявляет резервы, благодаря которым организация может рассчитывать на дополнительную прибыль. Поэтому актуально проведение финансового аудита, с помощью которого прослеживается состояние 
                    системы документооборота и ликвидируются слабые места.</p>
                <p class="citot"><span>Евгений Никитин</span>
                    Руководитель отдела спецпроектов «ФинансАудит», <br>кандидат экономических наук</p>
            </div>
            <div class="chuvak">
                <img src="{% static 'img/main_img/pngtree-office-worker-with-laptop-png-image_10451263 1.png' %}" alt="">
            </div>
        </div>
        <div class="text1">
            <h2>Понятие и значение финансового аудита</h2>
            <p><span style="font-weight: bold; font-style: italic;">Финансовый аудит</span> — это комплексная проверка экономического и финансового состояния организации, проверка достоверности информации в финансовой отчетности организации, а также анализ и оценка перспектив ее развития, которая может проводиться как специалистами самой организации (внутренний аудит), так и сторонними 
                аудиторскими компаниями по заказу руководства (независимый аудит). <br>
                <br>На практике финансовый аудит предприятия чаще рассматривается как весьма узкое 
                понятие, обычно включающее в себя классический обязательный аудит финансовой 
                бухгалтерской отчетности.</p>
        </div>
        <div class="text2">
            <p>Основная цель независимой аудиторской проверки — оценка правильности <br> ведения 
                бухгалтерского учета в проверяемой компании, а также проверка <br> 
                достоверности финансовой отчетности.</p>
        </div>
        <div class="text3">
            <p>Таким образом, финансовый аудит отвечает на глобальный вопрос: «А все ли в компании в порядке с бухгалтерским учетом?». По нашей статистике при финансовом аудите мы находим в среднем более 65 млн искажений бухгалтерской отчетности (а при комплексном аудите из-за повышенной выборки эта цифра и вовсе 120 млн руб.), что неизбежно сказывается на размере дивидендов и других важных для руководителей и собственников показателях. Поэтому даже если законодательство не требует 
                от вашей компании проведения обязательного аудита — лучше не пренебрегать этой процедурой. <br>

                <br>Особенно ценно проводить аудит «с налогами» (комплексный аудит) — так называемую 
                «репетицию налоговой проверки» — когда аудиторы наряду с бухгалтерским посмотрят и 
                налоговый учет, оцифруют налоговые риски, выявят резервы, дадут рекомендации по 
                устранению недочетов и помогут исправить ошибки. Делимся интересным наблюдением — 
                когда в 2021 году был отменен обязательный аудит для большинства СМП (доход 400 — 
                800 млн р./год) за период с 1 кв. 2021 по 1 кв. 2024 «средний чек» выездной 
                налоговой проверки вырос в 4 раза.</p>
        </div>
        <div class="pict1" style="text-align: center;">
            <img src="{% static 'img/main_img/chart-002 1.png' %}" alt="" style="margin-top: 20px; margin-bottom: 20px;">
        </div>
        <div class="text4">
            <p>Это отчасти произошло как раз за счет «расслабившегося» малого бизнеса, 
                который решил не проводить аудит, раз законодательство этого не требует и «на радость» 
                налоговым органам не устранил существенные ошибки в налогах, которые обязательно обнаружили 
                бы аудиторы. Ведь качественный аудит выявляет все «слабые налоговые места», обеспечивая 
                значительное сокращение рисков не только для компании, но и для руководства.</p>
        </div>
        <div class="pict2" style="text-align: center;">
            <img src="{% static 'img/main_img/unnamed 1' %}" alt="" style="margin-top: 20px; margin-bottom: 20px;">
        </div>
        <div class="spisok">
            <p>В ходе аудита финансовой деятельности организации проверяется:</p>
            <ul>
                <li>выполнение требований законодательства, действующих 
                    стандартов и положений бухгалтерского учета;</li> <br>
                <li>проводится анализ распределения и движения денежных потоков, 
                    структуры доходов и расходов;</li> <br>
                <li>эффективность контроля над активами компании;</li> <br>
                <li>достоверность отражения сведений в бухгалтерской отчетности;</li> <br>
                <li>выявляются финансовые риски (налоговые, правовые, административные, 
                    хозяйственные), скрытые резервы;</li> <br>
                <li>выдаются рекомендации по их снижению выявленных рисков.</li> <br>
            </ul>
        </div>
        <div class="text5">
            <h2>Значимость аудиторского заключения для компании</h2>
            <p>Лучшим подтверждением надежности и честности компании в современном 
                деловом мире служит заключение независимого аудитора о достоверности 
                финансовой и бухгалтерской отчетности. Кроме того, аудиторское заключение 
                необходимо для подтверждения имиджа и деловой репутации компании при заключении 
                договоров и соглашений с партнерами или различными кредитными организациями. <br>

                <br>Если компания подлежит обязательному аудиту финансовой и бухгалтерской 
                отчетности, получить аудиторское заключение является ее обязанностью. <br>
                
                <br>Уточнить является аудит для вас обязательным или нет, можно, 
                обратившись к аудиторам. Они помогут сориентироваться: какие организации 
                подлежат обязательному аудиту. Также Минфин РФ ежегодно на своем сайте публикует 
                перечень видов компаний, попадающих под обязательный аудит (я в подразделе сайта 
                Министерства финансов «Обязательный аудит» раздела «Общая информация»).
                Аудиторское заключение выдается только по итогам внешнего финансово аудита, 
                который проводится независимой аудиторской организацией.</p>
        </div>
        <div class="text6">
            <p>Аудиторское заключение — документ, предназначенный для внутренних 
                и внешних пользователей <br> бухгалтерской (финансовой) отчетности 
                аудируемых лиц, который содержит выраженное мнение аудиторской 
                организации, индивидуального аудитора о достоверности бухгалтерской 
                (финансовой) <br> отчетности аудируемого лица (ст. 6 Федерального закона 
                «Об аудиторской деятельности» от 30.12.2008 № 307-ФЗ).</p>
        </div>
        <div class="text7">
            <p>По результатам аудиторского заключения руководитель организации принимает 
                решение о необходимости конкретных действий. Как правило, после принятых 
                мер и исправления ошибок, выявленных по итогам аудиторской проверки, 
                налоговые органы не налагают штрафы при проведении плановых проверок. 
                Таким образом, компаниям удается избежать значительных финансовых потерь.</p>
        </div>
    </div>
    <div class="end-block">
        <div class="text8">
            <h3>ЗАЩИТИТЕ СВОЙ БИЗНЕС</h3>
            <p>Вместе с достоверной отчетностью и аудиторским заключением <br> вы получите 
                страховку от штрафов ФНС и защиту налоговых <br> юристов на 3 года</p>
                <a href="{% url 'zayavka' %}">Оставить завку</a>
        </div>
        <div class="chel">
            <img src="{% static 'img/main_img/pngtree-businessman-and-mobile-phone-png-image_13302034 1.png' %}" alt="">
        </div>
    </div>
</body>
</html>