body {
    margin: 0;
}

p {
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
}

h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 55px;
}

h2 {
    margin-top: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
}

a {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.nav-bar {
    display: flex;
    background-color: rgb(122, 74, 25)
}

.nav-list {
    display: flex;
}

.nav-list a {
    display: block;
    padding: 1em;
    text-decoration: none;
    color: white;
    font-weight: lighter;
}

.nav-list a:hover {
    background-color: rgb(156, 106, 74);
}

.logo {
    padding: 5px;
}

.autor {
    text-align: center;
    padding-top: 8px;
    margin-right: -35px;
    margin-left: auto;
}

.header {
    margin-left: 30px;
    margin-right: 100px;
}

.info {
    display: flex;
    margin-left: 30px;
}

.pict img {
    margin-top: 100px;
    margin-left: 200px;
}

.end-block {
    display: flex;
    margin-top: 40px;
    height: 400px;
    background-color: rgb(231, 231, 231);
    border-top: solid;
    border-color: rgb(122, 74, 25);
}

.text {
    margin-left: 30px;
    width: 700px;
    margin-right: 50px;
}

.botton {
    text-align: center;
    margin-right: 60px;
}

.botton a {
    display: block;
    width: 400px;
    height: 130px;
    margin-top: 150px;
    margin-left: 100px;
    text-align: center;
    line-height: 110px;
    font-size: 40px;
    background-color: rgb(122, 74, 25);
    border-radius: 60px;
    color: white;
}

.botton a:hover {
    background-color: rgb(156, 106, 74);
    text-decoration: none;
}

.chel img {
    margin-left: 80px;
    width: 435px;
}